body {
  padding-top: 80px;
  margin-bottom: 40px; }

a:hover {
  text-decoration: none; }

#navi-logo {
  margin-top: 5px;
  margin-right: 15px; }

.list-row {
  clear: both; }
  .list-row.header:hover .col-md-1, .list-row.header:hover .col-md-2, .list-row.header:hover .col-md-3, .list-row.header:hover .col-md-4, .list-row.header:hover .col-md-5, .list-row.header:hover .col-md-6,
  .list-row.header:hover .col-md-7, .list-row.header:hover .col-md-8, .list-row.header:hover .col-md-9, .list-row.header:hover .col-md-10, .list-row.header:hover .col-md-11, .list-row.header:hover .col-md-11 {
    background: transparent; }
  .list-row.header .col-md-1, .list-row.header .col-md-2, .list-row.header .col-md-3, .list-row.header .col-md-4, .list-row.header .col-md-5, .list-row.header .col-md-6,
  .list-row.header .col-md-7, .list-row.header .col-md-8, .list-row.header .col-md-9, .list-row.header .col-md-10, .list-row.header .col-md-11, .list-row.header .col-md-11 {
    border: 0;
    font-weight: bold; }
  .list-row:hover .col-md-1, .list-row:hover .col-md-2, .list-row:hover .col-md-3, .list-row:hover .col-md-4, .list-row:hover .col-md-5, .list-row:hover .col-md-6,
  .list-row:hover .col-md-7, .list-row:hover .col-md-8, .list-row:hover .col-md-9, .list-row:hover .col-md-10, .list-row:hover .col-md-11, .list-row:hover .col-md-11 {
    background: #edf5f7; }
  .list-row:hover .buttons {
    border-color: silver; }
  .list-row:hover .buttons a, .list-row:hover .buttons button {
    visibility: visible; }
  .list-row .col-md-1, .list-row .col-md-2, .list-row .col-md-3, .list-row .col-md-4, .list-row .col-md-5, .list-row .col-md-6,
  .list-row .col-md-7, .list-row .col-md-8, .list-row .col-md-9, .list-row .col-md-10, .list-row .col-md-11, .list-row .col-md-11 {
    border: 1px solid silver;
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    height: 30px; }
  .list-row .right {
    text-align: right; }
  .list-row .buttons {
    padding-top: 3px;
    padding-bottom: 0;
    text-align: right;
    border-color: transparent; }
    .list-row .buttons a, .list-row .buttons button {
      visibility: hidden;
      border-color: silver; }

button.btn-text span, a.btn-text span {
  margin-right: 5px; }
button.top-space, a.top-space {
  margin-top: 20px; }
button.right-space, a.right-space {
  margin-right: 10px; }

.edit .task-slider-group input {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  width: 50px;
  text-align: right; }
.edit .task-slider-group span {
  color: #f6931f;
  font-weight: bold; }
