$list-row-border: #C0C0C0
$list-row-bg-hover: #EDF5F7


body
  padding-top: 80px
  margin-bottom: 40px


a:hover
  text-decoration: none


#navi-logo
  margin-top: 5px
  margin-right: 15px


.list-row
  clear: both

  &.header
    &:hover
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-11
        background: transparent

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-11
      border: 0
      font-weight: bold

  &:hover
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-11
      background: $list-row-bg-hover

    .buttons
      border-color: $list-row-border

    .buttons a, .buttons button
      visibility: visible

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-11
    border: 1px solid $list-row-border
    border-left: 0
    border-right: 0
    margin-bottom: -1px
    padding-top: 4px
    padding-bottom: 4px
    white-space: nowrap
    overflow: hidden
    height: 30px

  .right
    text-align: right

  .buttons
    padding-top: 3px
    padding-bottom: 0
    text-align: right
    border-color: transparent

    a, button
      visibility: hidden
      border-color: $list-row-border


button, a
  &.btn-text span
    margin-right: 5px

  &.top-space
    margin-top: 20px

  &.right-space
    margin-right: 10px


.edit
  .task-slider-group
    input
      border: 0
      color: #f6931f
      font-weight: bold
      width: 50px
      text-align: right

    span
      color: #f6931f
      font-weight: bold

  .has-error .help-block
    padding-top: 24px


.ui-datepicker
  z-index: 4!important