<!doctype html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->

<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->

<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<!-- @if ENV == 'DEVELOPMENT' -->
<body ng-app="poolingpeopleAppDev">
<!-- @endif -->

<!-- @if ENV == 'PRODUCTION' -->
<body ng-app="poolingpeopleApp">
<!-- @endif -->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container">
        <ul class="nav navbar-nav">
			<li ng-repeat="state in $state.get()" ng-class="{ active: $state.current.name === state.name }" ng-if="state.navbar">
				<a ui-sref="{{ state.name }}" class="capitalize">{{ state.name }}</a>
			</li>
        </ul>
		<ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
			<li ng-hide="loggedIn()"><button class="btn btn-default navbar-btn" ng-click="showLoginModal()">Log In</button></li>
			<li ng-show="loggedIn()"><button class="btn btn-default navbar-btn" ng-click="logOut()">Log Out</button></li>
		</ul>
    </div>
</nav>

<!-- Add your site or application content here -->
<div class="container" ui-view=""></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/stampit/dist/stampit.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-table/ng-table.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- @if ENV == 'DEVELOPMENT' -->
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<!-- @endif -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!-- @if ENV == 'DEVELOPMENT' -->
<script src="scripts/fake_server.js"></script>
<!-- @endif -->
<script src="scripts/models/models.js"></script>
<script src="scripts/filters/filters.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/users.js"></script>
<script src="scripts/controllers/tasks.js"></script>
<script src="scripts/controllers/projects.js"></script>
<script src="scripts/controllers/process_modal.js"></script>
<script src="scripts/controllers/task_modal.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/login_modal.js"></script>
<script src="scripts/controllers/confirm_modal.js"></script>
<script src="scripts/controllers/effort_modal.js"></script>
<script src="scripts/services/api.js"></script>
<script src="scripts/services/data.js"></script>
<script src="scripts/services/base64.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/load_status.js"></script>
<!-- endbuild -->
</body>
</html>