body {
    overflow-y:scroll;
}

td {padding: 5px 20px}
li {list-style-type: none;}

a {outline: none !important; text-decoration: none !important;}

.menu-header {display: block; padding:10px 0;}
.menu-header a {color: white}

.button {
    border: 1px solid #222222; 
    padding: 10px 30px; 
    display: inline-block; 
    width: 150px; 
    background: #F0F0F0; 
    margin: 0 auto; 
    color: #222222;
}


@media (max-width: 767px) {
    .content {
        padding: 15px;
        margin-top: 100px;
    }
}
@media (min-width: 768px) {

    .navbar_left .menu-bar {
        margin-top: 20px;
    }

    .menu-bar ul {
        margin: 0;
        padding: 0 auto;
    }

    .menu-bar .glyphicon {
        margin-right: 10px;
    }

    .menu-bar .panel {
        margin-bottom: 0;
        background-color: rgba(0,0,0,0);
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar_left .menu-bar li a {
        padding: 10px 15px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.5;
    }

    .navbar_left, #navbar_right {
        border-radius: 0;
        position: fixed;
        top: 0;
        width: 300px;
        height: 100%;
        transition: all 0.5s;
    }

    .navbar_left .navbar-body {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar_left.collapsed .menu-bar li a {
        padding: 20px 30px;
        transition: all 0.5s;
    }

    .navbar_left.collapsed {
        width: 85px;
        transition: all 0.5s;
    }

    .menu-root-label {
        position: absolute;
    }

    .navbar_left .menu-label, .navbar_left .menu-root-label {
        display: inline;
        opacity: 1;
        transition: opacity 0.5s;
        list-style-type: none;
    }

    .navbar_left.collapsed .menu-label, .navbar_left.collapsed .menu-root-label {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .navbar_left {left: 0;}

    .content {
        margin-left: 300px;
        margin-right: 350px;
        min-height: 100%;
    }

    .container {
        width: 100%;
    }

    .filter-box {
        color: white;
        position: fixed;
        width: 200px;
        background: #222222;
        height: 300px;
        top: 100px;
        right: -200px;
        transition: right 1s;
        padding: 10px 20px;
    }

    .filter-box-arrow {
        color: white;
        text-align:center;
        cursor: pointer;
        padding-top: 10px;
        position: absolute;
        top: 0px;
        left: -20px;
        width: 20px;
        height: 40px;
        background: #222222;
        display: block;
        float: left;
    }

    .filter-box-expanded {
        right: 0;
        transition: right 1s cubic-bezier;
    }

    .toggleList {
        position: absolute;
        right: 5px;
        top: 12px;
    }

    .section {
        padding: 0;
        margin: 0;
    }

    .home-section a {
        font-size: 0.95em;
        display:block;
    }

    .home-section .list-item .header a {
        font-size: 1em;
    }

    .home-section .list-item .header {
        padding: 10px 0px;
    }

    .home-section .list-item {
        padding-left: 15px;
        border-top: 1px solid rgba(255,255,255,0.6);
    }

    .home-section .list-item:first-of-type {
        border-top: 0px;
    }

    .home-section .links {       
        line-height: 1.3em;
        padding-left: 0;
        padding-bottom: 10px
    }

    .navbar_left .home-section .links a {       
        font-size: 0.9em;
        line-height: 0em;
    }

    .section-label{
        margin-left: 40px;
    }

    .subsection {
        margin: 0px;
        padding: 10px;
    }

    .subsection-label {
        font-size: 0.9em;
        margin-left: 40px;
        margin-bottom: 10px;
        padding: 0px 5px;
        border-bottom: 1px solid white;
    }

    .subsection-item {
        cursor: pointer;
        background-color: #F0F0F0;
        color: #333333;
        font-size: 0.9em;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #000000;
    }

    .subsection-item-header {
        font-weight: bold;
    }

}









.bce {
    background: #F0F0F0;
    max-width: 960px;
    border: 1px solid #222222;
    border-width: 1px 1px 0px 1px;
}

.bce-droppable {
    background: #D6F9D6;
}

.bce-header {
    border-bottom: 1px solid #222222;
    padding: 10px;
    overflow: auto;
    display: block;
}

.bce-header:hover {
    background-color: #E7E7E7;
}

.bce-icon {
    width: 20px;
    float: left;
}

.bce-info {
    float: left;
}

.bce-body {
    border-bottom: 1px solid #222222;
    overflow: auto;
    background: #E7E7E7;
}

.bce-footer {
    border-bottom: 1px solid #222222;
    padding: 5px 10px;
}

.bce-right + .bce-left{
    width: 80%;
    min-height: 200px;
    border-right: 1px solid #222222;
}

.bce-left {
    float: left;
    padding: 10px;
    background: #F0F0F0;
}

.bce-right {
    float: right;
    width: 20%;
}

.bce-module {
    border-bottom: 1px solid #222222;
}


.bce-expanded-view {
    margin: 30px 0px;
}

.bce-expanded-bce {
    margin-top: 20px;
}

.bce-module .bce, 
.bce-module .bce-header, 
.bce-module .bce-body, 
.bce-module .bce-footer {  
    border: 0;
}











.example-animate-container {
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-fade {
    list-style:none;
    box-sizing:border-box;
}

.animate-fade.ng-move,
.animate-fade.ng-enter,
.animate-fade.ng-leave {
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-fade.ng-leave.ng-leave-active,
.animate-fade.ng-move,
.animate-fade.ng-enter {
    opacity:0;
}

.animate-fade.ng-leave,
.animate-fade.ng-move.ng-move-active,
.animate-fade.ng-enter.ng-enter-active {
    opacity:1;
}

[class*='animate-height'] {
    overflow: hidden;
}

[class*='animate-height'].ng-move,
[class*='animate-height'].ng-enter,
[class*='animate-height'].ng-leave {
    -webkit-transition:all ease-in-out 1s;
    transition:all ease-in-out 1s;
}
[class*='animate-height'].ng-leave.ng-leave-active,
[class*='animate-height'].ng-move,
[class*='animate-height'].ng-enter {
    height: 0;
}


.animate-height-110 {
    height: 110px;
}

.animate-height-110.ng-leave,
.animate-height-110.ng-move.ng-move-active,
.animate-height-110.ng-enter.ng-enter-active {
    height: 110px;
}


.animate-height-310 {
    height: 310px;
}

.animate-height-310.ng-leave,
.animate-height-310.ng-move.ng-move-active,
.animate-height-310.ng-enter.ng-enter-active {
    height: 310px;
}