<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	version="1.1" bean-discovery-mode="all">

	<interceptors>
		<class>poolingpeople.webapplication.business.utils.logging.boundary.LoggerInterceptor</class>
		<class>poolingpeople.webapplication.business.neo4j.TransactionInterceptor</class>
		<class>poolingpeople.webapplication.business.boundary.AuthenticationInterceptor</class>
		<class>poolingpeople.webapplication.business.entity.EntityPersistenceRollbackInterceptor</class>
		<class>poolingpeople.webapplication.business.boundary.CatchWebExceptionInterceptor</class>
	</interceptors>

	<alternatives>
		<class>poolingpeople.webapplication.business.utils.logging.boundary.SimpleLogger</class>
		<class>poolingpeople.webapplication.business.utils.logging.boundary.NullableLogger</class>
	</alternatives>
</beans>
