<div>
	<table class="table">
		<thead>
		<tr>
			<th><!-- Aktion --></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'title') ? '-title' : 'title'" ng-init="sorting = 'title'">
				<nobr>Titel <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'title', 'glyphicon-arrow-up': sorting === '-title' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'description') ? '-description' : 'description'">
				<nobr>Beschreibung <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'description', 'glyphicon-arrow-up': sorting === '-description' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'assignee.name') ? '-assignee.name' : 'assignee.name'">
				<nobr>Zugewiesen <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'assignee.name', 'glyphicon-arrow-up': sorting === '-assignee.name' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'status') ? '-status' : 'status'">
				<nobr>Status <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'status', 'glyphicon-arrow-up': sorting === '-status' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'startDate') ? '-startDate' : 'startDate'">
				<nobr>Start <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'startDate', 'glyphicon-arrow-up': sorting === '-startDate' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'endDate') ? '-endDate' : 'endDate'">
				<nobr>Ende <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'endDate', 'glyphicon-arrow-up': sorting === '-endDate' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'duration') ? '-duration' : 'duration'">
				<nobr>Aufwand<br />geschätzt <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'duration', 'glyphicon-arrow-up': sorting === '-duration' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'effort') ? '-effort' : 'effort'">
				<nobr>Zeit<br />aufgewendet <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'effort', 'glyphicon-arrow-up': sorting === '-effort' }"></span></nobr>
			</a></th>
			<th><a href="javascript:void(0);" ng-click="sorting = (sorting === 'progress') ? '-progress' : 'progress'">
				<nobr>Fortschritt <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'progress', 'glyphicon-arrow-up': sorting === '-progress' }"></span></nobr>
			</a></th>
		</tr>
		</thead>
		<tbody>
		<tr class="ng-table-group" ng-repeat-start="project in projects | orderBy:sorting" ng-init="project.hideTasks = false">
			<!-- Action -->
			<td class="text-center">
				<input type="checkbox" ng-click="selectProject(project)" ng-checked="checkedItems[project.getId()]"/>
			</td>
			<!-- Title -->
			<td>
				<nobr>
					<span>{{ project.title }} </span>
					<a href="javascript:void(0);"
					   class="glyphicon"
					   ng-class="{ 'glyphicon-plus': !project.$ui.showTasks, 'glyphicon-minus': project.$ui.showTasks }"
					   ng-click="showTasks(project)">
					</a>
				</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input type="text" ng-model="project.title" pp-model="">-->
				<!--</div>-->
			</td>
			<!-- Description -->
			<td>
				<nobr>{{ project.description | limitTo:20 }}</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input type="text" ng-model="project.description" pp-model="">-->
				<!--</div>-->
			</td>
			<!-- Assignee -->
			<td>
				<nobr>{{ project.assignee.name }}</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<select ng-model="project.assignedTo" ng-options="user.getId() as user.firstName for user in users"></select>-->
				<!--</div>-->
			</td>
			<!-- Status -->
			<td>
				<nobr>{{ project.getStatus() }}</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<select ng-model="project.status" ng-options="project.statusList.indexOf(value) as value for value in project.statusList"></select>-->
				<!--</div>-->
			</td>
			<!-- Start Date -->
			<td>
				<nobr>{{ project.startDate | date:'dd.MM.yyyy' }}</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input datepicker-popup="dd.MM.yyyy" ng-model="project.startDate">-->
				<!--</div>-->
			</td>
			<!-- End Date -->
			<td>
				<nobr>{{ project.endDate | date:'dd.MM.yyyy' }}</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input datepicker-popup="dd.MM.yyyy" ng-model="project.endDate" />-->
				<!--</div>-->
			</td>
			<!-- Duration -->
			<td>
				<nobr>{{ project.duration | minutesToHours | number:2 }}h</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input type="range" max="40" step="0.25" ng-model="project.time" /> {{ project.time | number:2 }}h-->
				<!--</div>-->
			</td>
			<!-- Effort -->
			<td>
				<nobr>{{ project.effort | minutesToHours | number:2 }}h</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input type="range" ng-model="project.effort" />-->
				<!--</div>-->
			</td>
			<!-- Progress -->
			<td>
				<nobr>{{ project.progress * 100 }}%</nobr>
				<!--<div ng-if="editing(project)">-->
				<!--<input type="range" ng-model="project.progress" />-->
				<!--</div>-->
			</td>
		</tr>
		<tr ng-repeat="task in project.getTasks() | orderBy:taskSorting" ng-show="project.$ui.showTasks" ng-init="taskSorting = 'title'" ng-repeat-end="">
			<td></td>
			<td>{{ task.title }}</td>
			<td>{{ task.description | limitTo: 20 }}</td>
			<td>{{ task.assignee.name }}</td>
			<td>{{ task.getStatus() }}</td>
			<td>{{ task.startDate | date:'dd.MM.yyyy' }}</td>
			<td>{{ task.endDate | date:'dd.MM.yyyy' }}</td>
			<td>{{ task.duration | minutesToHours | number:2 }}h</td>
			<td>{{ task.effort | minutesToHours | number:2 }}h</td>
			<td>{{ task.progress * 100 }}</td>
		</tr>
		</tbody>
	</table>
	<div class="dropdown">
		<button href="javascript:void(0);" class="dropdown-toggle btn btn-default">Select Action</button>
		<ul class="dropdown-menu">
			<li>
				<a href="javascript:void(0);" ng-click="newProject()">Create new Project</a>
			</li>
			<li>
				<a href="javascript:void(0);" ng-click="editSelected()">Edit selected Projects</a>
			</li>
			<li>
				<a href="javascript:void(0);" ng-click="deleteSelected()">Delete selected Projects</a>
			</li>
		</ul>
	</div>
</div>