<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">&times;</button>
		<h4 class="modal-title">{{ modal.title }}</h4>
	</div>
	<div class="modal-body">
		<form name="form.task" class="form-horizontal" role="form" novalidate="">

			<!-- Title -->
			<div class="form-group">
				<label for="titleInput" class="col-sm-3 control-label">Title</label>

				<div class="col-sm-9">
					<input name="title"
						   ng-model="modal.task.title"
						   pp-model=""
						   type="text"
						   class="form-control"
						   id="titleInput"
						   placeholder="Title"
						   ng-minlength="3"
						   ng-maxlength="50"
						   required="">
				</div>
				<div class="error col-sm-9 col-sm-offset-3" ng-if="form.task.title.$dirty && form.task.title.$invalid">
					<small class="error" ng-show="form.task.title.$error.required">Project title is required.</small>
					<small class="error" ng-show="form.task.title.$error.minlength">Project title is required to be at least 3 characters.</small>
					<small class="error" ng-show="form.task.title.$error.maxlength">Project title can't be longer than 50 characters.</small>
				</div>
			</div>

			<!-- Description -->
			<div class="form-group">
				<label for="descriptionInput" class="col-sm-3 control-label">
					<span>Description</span>
					<br/>
					<small ng-show="form.task.description.$viewValue" ng-class="{ error: form.task.description.$viewValue.length > 3000 }">
						<span>({{ form.task.description.$viewValue.length }}/3000)</span>
					</small>
				</label>
				<div class="col-sm-9">
					<textarea name="description"
							  ng-model="modal.task.description"
							  rows="3"
							  class="form-control"
							  id="descriptionInput"
							  placeholder="Description"
							  ng-maxlength="3000"></textarea>
				</div>
				<div class="error col-sm-9 col-sm-offset-3" ng-if="form.task.description.$dirty && form.task.description.$invalid">
					<small class="error" ng-show="form.task.description.$error.maxlength">Project description can't be longer than 3000 characters.</small>
				</div>
			</div>

			<!-- Assignee -->
			<div class="form-group">
				<label for="assigneeInput" class="col-sm-3 control-label">Assignee</label>
				
				<div class="col-sm-5">
					<select name="assignee"
							ng-model="modal.task.assignee"
							class="form-control"
							id="assigneeInput"
							ng-options="user as (user.firstName + ' ' + user.lastName) for user in modal.assignableUsers track by user.id"
							required=""></select>
				</div>
				<div class="error col-sm-9 col-sm-offset-3" ng-if="form.task.assignee.$dirty && form.task.assignee.$invalid">
					<small class="error" ng-show="form.task.assignee.$error.required">An Assignee is required.</small>
				</div>
			</div>

			<!-- Project -->
			<div class="form-group">
				<label for="projectInput" class="col-sm-3 control-label">Project</label>
				
				<div class="col-sm-5">
					<select name="project"
							ng-model="modal.task.project"
							class="form-control"
							id="projectInput"
							ng-options="project as project.title for project in modal.assignableProjects track by project.id"
							ng-disabled="modal.disabled.project"></select>
				</div>
			</div>

			<!-- Status -->
			<div class="form-group">
				<label for="statusInput" class="col-sm-3 control-label">Status</label>

				<div class="col-sm-5">
					<select name="status"
							ng-model="modal.task.status"
							class="form-control"
							id="statusInput"
							ng-options="key as status for (key, status) in modal.task.statusList"></select>
				</div>
			</div>

			<!-- Start -->
			<div class="form-group">
				<label for="startDateInput" class="col-sm-3 control-label">Start Date</label>

				<div class="col-sm-5 input-group">
					<input name="startDate"
						   ng-model="modal.task.startDate"
						   pp-convert-date="dd.MM.yyyy"
						   class="form-control"
						   id="startDateInput"
						   datepicker-popup="dd.MM.yyyy"
						   min="'1900-01-01'"
						   max="modal.task.endDate"
						   disabled="disabled"
						   is-open="modal.datepicker.startDate">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="openDatePicker($event, 'startDate')">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>

			<!-- End -->
			<div class="form-group">
				<label for="endDateInput" class="col-sm-3 control-label">End Date</label>

				<div class="col-sm-5 input-group">
					<input name="endDate"
						   ng-model="modal.task.endDate"
						   pp-convert-date="dd.MM.yyyy"
						   class="form-control"
						   id="endDateInput"
						   datepicker-popup="dd.MM.yyyy"
						   min="modal.task.startDate"
						   max="'2100-01-01'"
						   disabled="disabled"
						   is-open="modal.datepicker.endDate">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="openDatePicker($event, 'endDate')">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>

			<!-- Duration -->
			<div class="form-group">
				<label for="durationInput" class="col-sm-3 control-label">Duration</label>

				<div class="col-sm-5 input-group">
					<input name="duration"
						   ng-model="modal.task.duration"
						   pp-model=""
						   pp-convert-time=""
						   type="text"
						   class="form-control text-right"
						   id="durationInput"
						   placeholder="Duration">
					<span class="input-group-addon">hours</span>
				</div>
			</div>

			<!-- Effort -->
			<div class="form-group">
				<label for="effortInput" class="col-sm-3 control-label">Effort</label>

				<div class="col-sm-5 input-group">
					<input name="effort"
						   ng-model="modal.task.effort"
						   pp-model=""
						   pp-convert-time=""
						   type="text"
						   class="form-control text-right"
						   id="effortInput"
						   placeholder="Effort">
					<span class="input-group-addon">hours</span>
				</div>
			</div>

			<!-- Progress -->
			<div class="form-group">
				<label for="progressInput" class="col-sm-3 control-label">Progress</label>

				<div class="col-sm-5 input-group">
					<input name="progress"
						   ng-model="modal.task.progress"
						   pp-model=""
						   pp-convert-percent=""
						   type="number"
						   class="form-control text-right"
						   id="progressInput"
						   placeholder="Progress">
					<span class="input-group-addon">%</span>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-body" ng-controller="LogCtrl" ng-init="idObject = modal.task.id">
		<h5>
			<a href="javascript:void(0)" ng-hide="showLog" ng-click="toggleLog()">See history log <span ng-class="{ 'glyphicon-arrow-down': showLog, 'glyphicon-arrow-right': !showLog }" class="glyphicon"></span></a>
			<a href="javascript:void(0)" ng-show="showLog" ng-click="toggleLog()">Hide history log <span ng-class="{ 'glyphicon-arrow-down': showLog, 'glyphicon-arrow-right': !showLog }" class="glyphicon"></span></a>
		</h5>
		<div ng-show="showLog">
			<div ng-loading="log" class="text-center" >
				<img src="images/load_indicator.gif" alt="" style="padding:50px" />
			</div>
			<div ng-loading="!log">
			    <div class="btn-group" data-toggle="buttons-checkbox">
				    <a href="" class="btn btn-primary active" ng-click="filter.edition = !filter.edition">Changes</a>
				    <a href="" class="btn btn-primary active" ng-click="filter.comment = !filter.comment">Comments</a>
			    </div>
			    <ul style="margin-top: 20px; list-style-type: none">
				    <li ng-repeat="log in getFilteredLogs() | orderBy: 'date'">
				    	<div ng-switch on="log.type">
					    	<p ng-switch-when="edition"><span class="glyphicon glyphicon-pencil" style="margin-right: 7px"></span> The <b>{{ log.object.label }}</b> was edited from <b>{{ log.object.oldValue }}</b> to <b>{{ log.object.newValue }}</b> </p>
					    	<p ng-switch-when="comment"><span class="glyphicon glyphicon-comment" style="margin-right: 7px"></span> <b>{{ log.user }}</b> commented <i>{{ log.comment }}</i><p>
					    </div>
				    </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Abbrechen</button>
		<button type="button" class="btn btn-primary" ng-click="save()">Speichern und Schließen</button>
		<div class="loader" ng-show="modal.loader.model.save"></div>
		<p class="error text-left" ng-show="error">{{ error }}</p>
	</div>
</div>