<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                <!-- Aktion -->
            </th>
            <th colspan="2">
                <a href="javascript:void(0);"
                   ng-click="sorting = (sorting === 'title') ? '-title' : 'title'" ng-init="sorting = 'title'">
                    <nobr>Titel <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'title', 'glyphicon-arrow-up': sorting === '-title' }">
                        </nobr>
                    </span>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'assignee.firstName') ? '-assignee.firstName' : 'assignee.firstName'">
                    <nobr>Zugewiesen <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'assignee.firstName', 'glyphicon-arrow-up': sorting === '-assignee.firstName' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'status') ? '-status' : 'status'">
                    <nobr>Status <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'status', 'glyphicon-arrow-up': sorting === '-status' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'startDate') ? '-startDate' : 'startDate'">
                    <nobr>Start <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'startDate', 'glyphicon-arrow-up': sorting === '-startDate' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'endDate') ? '-endDate' : 'endDate'">
                    <nobr>Ende <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'endDate', 'glyphicon-arrow-up': sorting === '-endDate' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'duration') ? '-duration' : 'duration'">
                    <nobr>Aufwand<br />geschätzt <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'duration', 'glyphicon-arrow-up': sorting === '-duration' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'effort') ? '-effort' : 'effort'">
                    <nobr>Aufgewendet<br />Zeit <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'effort', 'glyphicon-arrow-up': sorting === '-effort' }"></span></nobr>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);" ng-click="sorting = (sorting === 'progress') ? '-progress' : 'progress'">
                    <nobr>Fortschritt <span class="glyphicon" ng-class="{ 'glyphicon-arrow-down': sorting === 'progress', 'glyphicon-arrow-up': sorting === '-progress' }"></span></nobr>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-loading="tasks.taskList">
            <td class="text-center" colspan="10">
                <img src="images/load_indicator.gif" alt="" style="padding:50px" />
            </td>
        </tr>
        <tr ng-loading="!tasks.taskList">
            <td colspan="12">
                <button ng-if="!getSelectedItems().length" class="btn btn-default btn-block" ng-click="create()"><b>Neue Aufgabe</b></button>
                <div class="dropdown" ng-if="getSelectedItems().length">
                    <button href="javascript:void(0);" class="dropdown-toggle btn btn-default btn-block" ng-disabled="disableActions()"><b>Aktion auswählen</b></button>
                    <ul class="dropdown-menu btn-block">
                        <li class="text-center">
                            <a href="javascript:void(0);" ng-click="bookSelected()">Effort buchen</a>
                        </li>
                        <li class="text-center">
                            <a href="javascript:void(0);" ng-click="editSelected()">Task bearbeiten</a>
                        </li>
                        <li class="text-center">
                            <a href="javascript:void(0);" ng-click="deleteSelected()">Löschen</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="ng-table" ng-repeat-start="task in taskList | orderBy:sorting | startFrom: pagination.currentPage*pagination.itemsPerPage | limitTo:pagination.itemsPerPage" ng-init="task.hideTasks = false">

            <td width="30">
                <input type="checkbox" ng-click="checkItem(task)" />
            </td>

            <td>
                <div ng-if="!editingField(task, 'title')">
                    <a href="" ng-click="editField(task, 'title')">
                        <span class="glyphicon" ng-if="task.tasks.length > 0" ng-class="{ 'glyphicon-chevron-right': !task.hideTasks, 'glyphicon-chevron-down': task.hideTasks }"></span>
                        <span class="editable">{{ task.title }}</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'title')">
                    <input style="position: absolute;" type="text" ng-model="task.title" pp-model="update(task); blurField(task, 'title')" />
                </div>
            </td>

            <!-- Description -->
            <td>
                <span>
                    <button type="button" class="btn btn-xs btn-default" ng-click="edit(task)">Bearbeiten</button>
                </span>
            </td>

            <td>
                <div ng-if="!editingField(task, 'assignee')">
                    <a href="" ng-click="editField(task, 'assignee')">
                        <span class="editable">{{ task.getAssignee().getPrettyName() }}</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'assignee')">
                    <select name="assignee"
                            ng-model="task.assignee"
                            pp-model="update(task); blurField(task, 'assignee')"
                            class="form-control"
                            id="assigneeInput"
                            ng-options="user as user.getPrettyName() for user in assignableUsers track by user.id"></select>
                </div>
            </td>

            <td>
                <div ng-if="!editingField(task, 'status')">
                    <a href="" ng-click="editField(task, 'status')">
                        <span class="editable">{{ task.getPrettyStatus() }}</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'status')">
                    <select name="status"
                            ng-model="task.status"
                            pp-model="update(task); blurField(task, 'status')"
                            class="form-control"
                            id="statusInput"
                            ng-options="key as status for (key, status) in task.getStatusList()"></select>
                </div>
            </td>

            <td>
                <div ng-if="!editingField(task, 'startDate')">
                    <a href="" ng-click="editField(task, 'startDate')">
                        <span class="editable">{{ (task.startDate | date: 'dd.MM.yyyy') || '---------------' }}</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'startDate')">
                    <input type="text" 
                        ng-model="task.startDate"
                        pp-model="update(task); blurField(task, 'startDate')"
                        style="position: absolute;"/>
                </div>
            </td>

            <td>
                <div ng-if="!editingField(task, 'endDate')">
                    <a href="" ng-click="editField(task, 'endDate')">
                        <span class="editable">{{ (task.endDate | date: 'dd.MM.yyyy') || '---------------' }}</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'endDate')">
                    <input type="text" 
                        ng-model="task.endDate"
                        pp-model="update(task); blurField(task, 'endDate')"
                        style="position: absolute;"/>
                </div>
            </td>

            <td>
                <div>
                    <a href="" ng-click="editField(task, 'duration')">
                        <span class="editable">{{ task.duration }}</span>
                    </a>
                </div>
            </td>

            <td>
                <div ng-if="!editingField(task, 'effort')">
                    <a href="" ng-click="bookEffort(task)">
                        <span class="editable">{{ task.effort }}h</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'effort')">
                    <input style="position: absolute;" type="text" ng-model="task.effort" pp-model="update(task); blurField(task, 'effort')" />
                </div>
            </td>

            <td>
                <div ng-if="!editingField(task, 'progress')">
                    <a href="" ng-click="editField(task, 'progress')">
                        <span class="editable">{{ task.progress }}%</span>
                    </a>
                </div>
                <div ng-if="editingField(task, 'progress')">
                    <input style="position: absolute; width: 40px;" type="text" ng-model="task.progress" pp-model="update(task); blurField(task, 'progress')" />
                </div>
            </td>

        </tr>
        <tr ng-repeat="task in task.subtasks | orderBy:sorting" ng-repeat-end>
            <td></td>
            <td colspan="2">{{ task.title }}</td>
            <td>{{ task.assignedTo }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.startDate }}</td>
            <td>{{ task.endDate }}</td>
            <td>{{ task.duration }}h</td>
            <td>{{ task.effort }}</td>
            <td>{{ task.progress }}%</td>
        </tr>
        </tbody>
    </table>
    <div ng-if="pagination.totalPages() > 0">
        <ul class="pagination" ng-loading="!tasks.taskList">
            <li ng-class="{disabled: pagination.currentPage == 0}">
                <a href ng-click="pagination.prevPage()">« Prev</a>
            </li>
            <li ng-repeat="i in [] | range:(pagination.totalPages() + 1)"
                ng-class="{active: i == pagination.currentPage}"
                ng-click="pagination.setPage()">
                <a href="" ng-click="pagination.gotoPage(i)" ng-if="pagination.showPaginationIndex(i)">{{ i + 1 }}</a>
            </li>
            <li ng-class="{disabled: pagination.currentPage == pagination.totalPages() }">
                <a href ng-click="pagination.nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>