<div>
	<!-- register form -->
	<form name="form">

		<!-- email -->
		<div class="form-group col-sm-6">
			<!-- label -->
			<label for="emailInput">E-Mail</label>
			<!-- input -->
			<input name="email" ng-model="model.email" type="text" class="form-control" placeholder="E-Mail" required="" id="emailInput">
			<!-- error -->
			<div class="error" ng-if="form.email.$dirty && form.email.$invalid">
				<small class="error" ng-show="form.email.$error.required">E-Mail is required.</small>
			</div>
		</div>

		<!-- password -->
		<div class="form-group col-sm-6">
			<!-- label -->
			<label for="passwordInput">Password</label>
			<!-- input -->
			<input name="password" ng-model="model.password" type="text" class="form-control" placeholder="Password" required="" id="passwordInput">
			<!-- error -->
			<div class="error" ng-if="form.password.$dirty && form.password.$invalid">
				<small class="error" ng-show="form.password.$error.required">Password is required.</small>
			</div>
		</div>

		<!-- firstName -->
		<div class="form-group col-sm-6">
			<!-- label -->
			<label for="firstNameInput">First Name</label>
			<!-- input -->
			<input name="firstName" ng-model="model.firstName" type="text" class="form-control" placeholder="First Name" required="" id="firstNameInput">
			<!-- error -->
			<div class="error" ng-if="form.firstName.$dirty && form.firstName.$invalid">
				<small class="error" ng-show="form.firstName.$error.required">First Name is required.</small>
			</div>
		</div>

		<!-- lastName -->
		<div class="form-group col-sm-6">
			<!-- label -->
			<label for="lastNameInput">Last Name</label>
			<!-- input -->
			<input name="lastName" ng-model="model.lastName" type="text" class="form-control" placeholder="Last Name" required="" id="lastNameInput">
			<!-- error -->
			<div class="error" ng-if="form.lastName.$dirty && form.lastName.$invalid">
				<small class="error" ng-show="form.lastName.$error.required">Last Name is required.</small>
			</div>
		</div>

		<!-- submit -->
		<button type="button" class="btn btn-default" ng-click="register()">Register</button>
	</form>

	<br />
	<br />
	<br />

	<!-- users -->
	<table class="table">
		<thead>
		<tr>
			<th>email</th>
			<th>firstName</th>
			<th>lastName</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.email }}</td>
			<td>{{ user.firstName }}</td>
			<td>{{ user.lastName }}</td>
		</tr>
		</tbody>
	</table>
</div>